params {

    outdir          = "test"
    observe         = null

    dna             = "*.fq"
    rna             = null
    basecall        = false
    model           = null
    barcodes        = false
    prefilter       = false
    quality         = 7
    length          = 200

    taxdb           = "$HOME/resources/minikraken2"
    virus           = false
    assembler       = "flye"
    opts            = "--meta"
    genome_size     = "10m"
    medaka_model    = "r941_min_high_g330"
    signature       = "virsorter"

    illumina_dna            = null
    illumina_dna_assembler  = "metaspades"
    illumina_dna_opts       = null

}

process {

    scratch = true
    errorStrategy = "ignore"

    
    withLabel: ont {
        cpus = 4
        memory = "8G"
        time = "24h"
    }
    withLabel: kraken2 {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: assembly {
        cpus = 8
        memory = "16G"
        time = "24h"
    }
    withLabel: shovill {
        cpus = 8
        memory = "16G"
        time = "24h"
    }
    withLabel: medaka {
        cpus = 8
        container = "$baseDir/medaka.sif"
        memory = "16G"
        time = "24h"
    }
    withLabel: racon {
        cpus = 8
        memory = "8G"
        time = "24h"
    }
    withLabel: trimmomatic {
        cpus = 8
        memory = "16G"
        time = "24h"
    }
    withLabel: pilon {
        cpus = 8
        memory = "16G"
        time = "24h"
    }

}

profiles {
    local {
    
        singularity.enabled = true
        singularity.autoMounts = true

        process.executor = "local"
        process.container = "$baseDir/sepsis.sif"
    }

    cluster {
    
        singularity.enabled = true
        singularity.autoMounts = true

        process.executor = "pbspro"
        process.container = "$baseDir/sepsis.sif"

    }
}
