params {
    config = "default"
    resources = "default"
    container = "np-core/pathogen:latest"
    
    beast_threads = 2
    beast_instances = 2
    raven_threads = 4
    raven_memory = "8G"
    forest_train_mem = "32G"
    forest_evaluate_mem = "4G"
    kraken_threads = 4
    kraken_memory = "64G"

}

includeConfig("configs/${params.config}.config")